$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;

$primary-color-light:  #B3E5FC;

$accent-color:         #FF5252;

$primary-text-color:   #212121;
$secondary-text-color: #FFFFFF;

$light-text-color:     #757575;

$divider-color:        #BDBDBD;

$bg-color:             #ffffff;
$bg-color-dark:        #f1f1f1;
