.add-note {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
	right: 10%;
	bottom: 20px;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	background-color: $accent-color;
	cursor: pointer;
}

.add-new-note-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	pointer-events: none;
}

.add-new-note {
	position: relative;
	width: 100%;
	min-width: 100%;
	background: #FFF;
	transform: translateY(105%);
	box-shadow: 2px 0 12px rgba(0,0,0,0.4);
	will-change: transform;
	transition: transform .3s cubic-bezier(0,0,0.3,1);
	z-index: 2;
	overflow: auto;
	min-height: 100vh;
}

.add-new-note-container-visible {
	pointer-events: auto;
}

.add-new-note-container-visible .add-new-note {
	transform: none;
}

.hide-add-new-note {
	cursor: pointer;
	padding: 15px;
}

.new-note-area {
	width: 100%;
	max-width: 100%;
	min-height: 65vh;
}

.add-new-note-content {

	textarea {
		padding: 30px;
		font-size: 22px;
		box-sizing: border-box;
	}
}

.new-note-btn {
	width: 100%;
	padding: 10px 15px;
	text-align: center;
	background-color: $primary-color;
	border: none;
	color: #fff;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}
