
.app {
	min-height: 100vh;
	background-color: $bg-color-dark;
}

.content {
	padding: 15px;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
}

.card {
	position: relative;
	display: flex;
	align-items: center;
	padding: 30px;
	margin: 0 0 20px 0;
	background-color: $bg-color;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

.note {
	width: 100%;
	display: flex;
	justify-content: space-between;
	cursor: pointer;

	p{
		margin: 5px 0;
	}
}

.delete-note {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;

	svg {
		pointer-events: none;
	}
}

.text-login {
	text-align: center;
}

.spinner {
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		height: 50px;
		width: 50px;
	}
}
