.main-header {
	height: 56px;
	padding: 0 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $primary-color;
	color: $secondary-text-color;
	box-shadow: 0 1px 8px rgba(0,0,0,.3);
}

.sign-out-btn {
	cursor: pointer;
}
